.nav_logo {
    width: 20%;
    height: 20%;
}

.bds_logo {
    max-width: 40%;
    max-height: 40%;
    position: relative;
    image-resolution: inherit;
}

.bg_section1 {
    background-image: url('images/header-image.png');
    background-size: cover;


}

.icon {
    -webkit-filter: grayscale(100%);
}


@media screen and (max-width:520px) {


    .icon {
        max-width: 40px !important;
        min-width: 40px !important;
        transition: .4s ease;
    }
}


@media screen and (min-width:520px) {


    .icon {
        max-width: 50% !important;
        min-width: 50% !important;
        transition: .4s ease;
    }
}

.bg_section2 {
    background-color: #01447e;
    position: relative;
}

.postage_img {
    max-width: 100%;

}

.card_quote {
    overflow: 10px;
}